# Base de données PostgreSQL
DATABASE_URL="postgresql://postgres:motdepasse@localhost:5432/stockapigestion"

# NextAuth
NEXTAUTH_SECRET="votre-secret-tres-long-et-aleatoire-minimum-32-caracteres"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="Sachand Stock Manager"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Paayit Payment Integration
PAAYIT_API_KEY="votre_cle_publique_paayit"
PAAYIT_WEBHOOK_SECRET="votre_secret_webhook_paayit"

